@import url("reset.css");

body {
    font-family: "DM Sans", sans-serif;
}

body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-left: 100px;
}


.logo {
    height: 50px;
}

main {
    margin: 0 100px;
}

#contact_modal {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
}

.photographer-header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 25px;
    align-items: center;
}

.photographer-header .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photographer-header #name {
    color: #D3573C;
    font-size: 64px;
}

.photographer-header #picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-header article p {
    font-weight: 400;
}

#location {
    color: #901C1C;
    font-size: 24px;
}

#tagline {
    color: #525252;
    font-size: 18px;
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    
}
.modal header{
    position: relative;
}
.close-contact{
    position: absolute;
    right: 0;
    top: 22px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}
.modal header p {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-top: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    font-size: 24px;
}
form textarea{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 204px;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 24px;
}

.box {
    position: relative;
    display: inline-block;
    margin: 30px 0;
}

.box::after {
    content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    font-size: 16px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

#medias-order {
    background-color: #901C1C;
    color: white;
    padding: 12px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 25px;
}


.medias-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 460px);
    gap: 20px;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 20px;
}

.media-card {
    width: 460px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    color: #901C1C;
    border-radius: 5px;

}

.media-card .media {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.media-card h2 {
    display: inline;
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 40px;
    flex: 1;
}

.media-card p {
    display: inline;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
}

.media-card .fa-solid {
    margin-left: 5px;
}

.focusable {
    cursor: pointer;
}

.focusable:focus-visible {
    outline: 2px solid blue;
    outline-offset: 4px;
}

#lightbox-modal[open] {
    display: flex;
    position: fixed;
    left: 2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    outline: 2px solid lightblue;
    background-color: white;
}

#lightbox-modal button {
    color: #901C1C;
    width: 100px;
    height: 100px;
    justify-self: left;
    text-align: center;
    font-size: 33px;
    flex-shrink: 0;
}

#lightbox-modal .left {
    order: 1;
    align-self: center;
}

#lightbox-modal .right {
    order: 3;
    align-self: center;
}

#lightbox-modal .close {
    position: absolute;
    right: 0px;
    font-size: 66px;
    text-align: center;
}

#lightbox-list {
    order: 2;
    width: 100%;
}

.lightbox-article {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightbox-media {
    max-height: 90%;
    object-fit: contain;
    max-width: 100%;

}

.lightbox-article .title {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
}

.active {
    display: flex
}